*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../img/mac.jpg); 
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}
.main{
    width: 1170px;
	margin: auto;
}
.logo {
	text-align:left;
    text-overflow: left;
    top : 55 px ;
    left : 60 px;
    position: absolute;
    color: #fff;
}
ul{
    float: right;
	list-style: none;
	margin-top: 30px;
}
ul li{
    display: inline-block;
}
ul li a{
    color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
ul li a :hover{
    
	background: #fff;
	color: #333; 
    
}
.test{
    background-color: #fff;
    width : 100 px ;height : 100 px;
    position: absolute;
}
@media (max-width:600px) {
    .main{
        width: 100%;
    }
    
    .logo {
    float: none;
    width: 50%;
    text-align: center;
    margin: auto;
    }

    ul{
        float: none;
		margin-top: 0;
    }
    ul li a{
        padding: 5px;
		font-size: 11px;
    }
}
