<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf­8">
    <title>MyHome!</title>
</head>

<body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_Home.css' %}" />
    
    <header >
        <h3 text-color="white">
            Connect Us
        </h3>    
        <div class="main">
            <ul class="ulist">
                <li class="list"><a href="#">LOGIN </a></li>
                <li><a href="#">SIGNUP </a></li>
                <li><a href="#">About </a></li>
                <li><a href="#">CONNECT US </a></li>
                <li><A href="#">FEEDBACK </A></li>
            </ul>   
        </div>
        <div class="test">
            
        </div>
    </header>
</body>
</html>