{% extends 'base.html' %}
{% block content %}
    {% if form.errors %}
        <p class="error"> Invalid Username or Password </p>
    {% endif %}
<div class="login-box">
       <form action="/loginmodule/auth/" method = "post">{% csrf_token %}
        <div class="textbox">
           <h2> <br><br>Login .</h2>
        <em class="fas fa-user"></em>
            <input type="text" name = "username" value = "" id="username" placeholder="Username">
        </div>
        <div class="textbox">
        <em class="fas fa-lock"></em>
            <input type="password" name="password" value="" id="password" placeholder="Password">
        
        <input type="submit" value="login"/>
    </div>
</div>
{% endblock %}