<script type="text/javascript">

    function declineFriendRequest(friend_request_id,uiUpdateFunction){
        var url = "{% url 'friends:decline-friend-request' friend_request_id=44587646846546798465 %}".replace("44587646846546798465",friend_request_id)


        $.ajax({
            type: "GET",
            dataType: "json",
            url: url,
            timeout: 5000,
            success:function(data){
                if(data.response == "Declined"){

                }
                else if(data.response != null){
                    alert(data)
                }
            },
            error:function(data){
                alert(data)
            },
            complete:function(data){
                uiUpdateFunction()
            },
        })
    }
</script>